@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #292f36;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/* Main Color */

.primaryBackground {
  background-color: #0c70f2;
}

.primaryColor {
  color: #0c70f2;
}

.secundaryBackground {
  background-color: #1d1d1d;
}

.secundaryColor {
  color: #1d1d1d;
}

.tertiaryBackground {
  background-color: #f6f6f6;
}

.tertiaryColor {
  color: #f6f6f6;
}

.gray1Color {
  color: #4d5053;
}

/* Form */

.formInput {
  border: none;
  border-bottom: 1px solid #292f36;
  color: #292f36;
  font-size: 22px;
  font-family: "Jost", sans-serif;
  padding: 0 0 13px 0;
  outline: none;
  width: 100%;
}

.formInput::placeholder {
  color: #292f36;
  opacity: 1;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 2.5px;
}

p {
  line-height: 150%;
}	

.txtCenter {
  text-align: center;
}

/* Grid */

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
}

.alCenter {
  align-items: center;
}

.alEnd {
  align-items: end;
}

.dFlex {
  display: flex;
}

.fdColumn {
  flex-direction: column;
}

.jcCenter {
  justify-content: center;
}

.jcEnd {
  justify-content: end;
}

.jcSpaceBetween {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .mobileFdColumn {
    flex-direction: column;
  }
}